nodeRedSmartGarden.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dca566a97a199fb2",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "longhiTeste/Soil",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b205a8110c346657",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "adf258255ea00aa6",
                "c308ddba581d0668",
                "d7810ef66ee6756d"
            ]
        ]
    },
    {
        "id": "adf258255ea00aa6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "ee02360d404a31df",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "longhiTeste/Temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b205a8110c346657",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "6899267b4835a179",
                "deb2c499cf337afa",
                "d7810ef66ee6756d"
            ]
        ]
    },
    {
        "id": "b3fc295b4c7284bf",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "longhiTeste/Umidade",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b205a8110c346657",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 540,
        "wires": [
            [
                "f8028f7261414e37",
                "17448234704b028e",
                "d7810ef66ee6756d"
            ]
        ]
    },
    {
        "id": "deb2c499cf337afa",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "17448234704b028e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 580,
        "wires": []
    },
    {
        "id": "2a708c5f782c261a",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "longhiTeste/Pump",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b205a8110c346657",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 680,
        "wires": [
            [
                "846ce73110bf95af",
                "d7810ef66ee6756d"
            ]
        ]
    },
    {
        "id": "c308ddba581d0668",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "386d063bc11bb63f",
        "name": "",
        "measurement": "soil",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "418e73977888a07a",
        "bucket": "iot_ec2",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "6899267b4835a179",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "386d063bc11bb63f",
        "name": "",
        "measurement": "temperature4",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "418e73977888a07a",
        "bucket": "iot_ec2",
        "x": 810,
        "y": 400,
        "wires": []
    },
    {
        "id": "f8028f7261414e37",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "386d063bc11bb63f",
        "name": "",
        "measurement": "umidity2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "418e73977888a07a",
        "bucket": "iot_ec2",
        "x": 790,
        "y": 540,
        "wires": []
    },
    {
        "id": "846ce73110bf95af",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "386d063bc11bb63f",
        "name": "",
        "measurement": "pump",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "418e73977888a07a",
        "bucket": "iot_ec2",
        "x": 790,
        "y": 680,
        "wires": []
    },
    {
        "id": "fec5552b0b12bd94",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "var mensagem1 = msg.payload[0];\nvar mensagem2 = msg.payload[1];\nvar mensagem3 = msg.payload[2];\nvar mensagem4 = msg.payload[3];\n\nmsg.payload = \"Medida de umidade do solo: \" + mensagem4 +\n \" | Temperatura: \" + mensagem2+\n \" | Umidade: \"+ mensagem3+\n \" | Bomba ligada (0=Nao | 1=Sim):\" +mensagem1;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 780,
        "wires": [
            [
                "8c4837124111a3eb"
            ]
        ]
    },
    {
        "id": "8c4837124111a3eb",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "credtype": "account",
        "account": "be2b39f88305a422",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 1000,
        "y": 780,
        "wires": [
            [
                "f314346cbcb20cec"
            ]
        ]
    },
    {
        "id": "d7810ef66ee6756d",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 670,
        "y": 780,
        "wires": [
            [
                "fec5552b0b12bd94"
            ]
        ]
    },
    {
        "id": "f314346cbcb20cec",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 840,
        "wires": []
    },
    {
        "id": "b205a8110c346657",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "grupo6macknode",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "386d063bc11bb63f",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB Account",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "be2b39f88305a422",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": ""
    }
]